@font-face {
  font-family: 'Aeonik Bold';
  src: url('../public/assets/Aeonik-Bold.woff2') format('woff2'),
      url('../public/assets/Aeonik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../public/assets/Aeonik-Regular.woff2') format('woff2'),
      url('../public/assets/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Aeonik' !important;
  background-color: #FFFFFF !important;
}

strong {
  font-family: 'Aeonik Bold';
}


ul {
  padding-inline-start: 0px !important;
  list-style: none;
}


:focus-visible {
  outline: rgb(65, 61, 247) auto 1px;
}

.active-link {
  color: rgb(65, 61, 247);
}
.navbar {
  box-shadow: 0 2px 5px rgba(240,240,240,0.1);
  border-bottom: 1px solid rgba(200,200,200,0.2);
}
.nav-item {
  margin-right: 20px; /* Add spacing between menu items */
}

.investor-list {
  display: flex;
}

.flat-card {
  flex-direction: row;
  justify-content: 'space-between';
  border-width: 1px;
  padding: 33px 20px 25px;
  border-color: rgba(193, 200, 219, 0.5);
  border-radius: 20px;
  border-style: solid;
  margin-bottom: 20px;
  width:100%;
}

.sidebar {
  flex: 1;
  border-width: 1px;
    padding: 33px 20px 25px;
    border-color: rgba(193, 200, 219, 0.5);
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 20px;
}

.main-content {
  flex: 3;
  /* your styles here */
}

.card-ext {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 100% !important;
  width: 300px;
  box-shadow: 0px 0px 25px rgba(100, 100, 100, 0.1);  
  width: 100%;
  text-decoration: none;
  border-width: 0 !important;
  padding: 20px;
  background-clip: padding-box;
  color: #101010 !important;
}

.card-ext:hover {
  box-shadow: inset 0 0 4px rgb(65, 61, 247, 0.2);
  cursor: pointer;
}

.filter-section strong {
  font-size: 8pt;
  margin-bottom:50px;
  color: #898989;
}
a {
  color: #101010 !important;
  text-decoration: none !important;
}

/* Style for the search container */
.search-container {
  position: relative;
  width: 100%;
  left:-10px;
  margin-bottom: 15px;
}

/* Style for the search input to make it look like the card */
.search-input {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 40px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 3px 4px rgba(180, 180, 180, 0.05);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-left: 10px;
  color: #101010 !important;
}

/* Style for the search icon */
.search-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #101010;
}

/* Statuses */

.status-box {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: 'Inter';
  letter-spacing: 0.5px;
}

.status-new {
  background-color: #DFEAFF;
  color: #1066FF;
}

.status-cold {
  background-color: #D1FADF;
  color: #EF4439;
}

.status-due-diligence {
  background-color: #D1FADF;
  color: #0CB466;
}

.status-warm {
  background-color: #FFD6BF;
  color: #FB7E62;
}